<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anujsharma.shuffler">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/lg_shuffle"
        android:label="@string/app_name"
        android:roundIcon="@drawable/lg_shuffle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustNothing">

        </activity>
        <activity
            android:name=".activities.ViewSongActivity"
            android:screenOrientation="portrait"
            android:theme="@style/viewSongTheme"
            android:windowSoftInputMode="adjustNothing" />

        <meta-data
            android:name="com.example.anujsharma.shuffler.utilities.MyGlideModule"
            android:value="GlideModule" />

        <service
            android:name=".services.MusicService"
            android:enabled="true" />
        <service
            android:name=".services.ExoPlayerService"
            android:stopWithTask="true" />

        <receiver android:name=".receivers.NotificationBroadcast">
            <intent-filter>
                <action android:name="com.example.anujsharma.shuffler.utilities.nextClick" />
                <action android:name="com.example.anujsharma.shuffler.utilities.previousClick" />
                <action android:name="com.example.anujsharma.shuffler.utilities.playPauseClick" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>